<main class="container">

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form form--auth" } ) do |f| %>
    <div class="form__group title">      
      <%= link_to "HelpJuice", new_user_session_path, class: "logo-link" %>
    </div>

    <div class="form__group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "email" %>
    </div>

    <div class="form__group">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form__group remember">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="form__actions">
      <%= f.submit "Log in", class: "btn btn--primary" %>
    </div>

    <div class="form__group">
      <%= render "devise/shared/links" %>
    </div>
  <% end %>

</main>
